<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Home</title>
</head>
<body>
<!--<div>-->

    <!--Hello <p th:text="${user.getUsername()}"></p> !-->

    <!--<p th:text="${user.getPost().getName()}"></p>-->

    <!--<a th:href="@{/users/details/{username}(username=${user.getUsername()})}">Profile</a>-->
<!--</div>-->

<!--<div th:insert="~{fragments/footer}"></div>-->

<h1>Hello</h1>
    <a href="/profile">Click me</a>

</body>
</html>