
<div class="container">
    <div class="jumbotron">
        <h1 class="row justify-content-center align-items-center">Welcome to Casebook!</h1>
        <h2 class="row justify-content-center align-items-center"><a class="nav-link" href="/login">Login</a> or <a class="nav-link" href="/register">Register</a> if you want to have friends.</h2>
    </div>
    <br/>
    <div class="row justify-content-center align-items-center">
        <img src="images/system.png" height="329" width="316"/>
    </div>
</div>