table th, table td  {
    background-color: orange;
    color: black;
    border: 2px solid black;
    border-radius: 20%;
    padding: 4px;
    margin: 9px;
}
table {
    padding-left: 46%;
    padding-bottom: 20px;
}
.button,button {
    background-color: orange;
    color: white;
    border-radius: 20%;
    margin: 3px;
}